
.about {
    display: block;
    width: 70vw;
    font-size: 5vh;
    margin: 10vh auto;
}

@media screen and (max-width: 768px) {
    .about {
        font-size: 4vh;
        text-align: center;
        width: 80vw;
    }
}