:root {
  --header-height: min(25vh, 190px);
  --header-height-resp: min(20vh, 190px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: var(--header-height);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed-pos {
  height: 100%;
  overflow: hidden;
}

#logo-words {
  fill: white;
}

#guitar {
  fill: #a30000;
}


@media screen and (max-width: 768px) {
  body {
    padding-top: var(--header-height-resp);
  }
}
